
@font-face {
    font-family: ItalicMon;
    src: url("../assets/Montauk-Regular/Montauk-Italic.otf");
}
@font-face {
    font-family: BoldMon;
    src: url("../assets/Montauk-Regular/Montauk-Bold.otf");
}
@font-face {
    font-family: LightMon;
    src: url("../assets/Montauk-Regular/Montauk-Light.otf");
}

@font-face {
    font-family: RegularMon;
    src: url("../assets/Montauk-Regular/Montauk-Regular.otf");
}

.backgroundImage{
    background-image: url("../assets/images/bgtexture.jpg");
}

.transparent{
    background-image: url("../assets/images/bgtexture.jpg");
    
}

#colorNav{
    color:rgba(95, 0, 43, 1);
    font-family: BoldMon;
    font-size: 24px;
}
.title{
    font-family: BoldMon;
    color:rgba(95, 0, 43, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-left: -10px;
    margin-right: -10px;

}

#footerStyle{
    font-family: RegularMOn;
    color:rgba(95, 0, 43, 1);
}


#image{
    border: 5px solid white;

  

}
.colImage{
    margin-bottom: 10px;
    
}
/*===============================================================================================================================================*/

.card{
    padding: 0;


}

.mainContainer{
    padding:0;
}
.cardPadding{
    padding:0;
}

.largeText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);
}

.smallText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);
    font-size: small;
}

hr{
    color:rgba(95, 0, 43, 1);
    background-color: rgba(95, 0, 43, 1);
    height: 2px;
}

.margin1{
    margin-bottom: -12px;
}
.margin2{
    margin-bottom: -20px;
}
.margin3{
    margin-top:-22px;
}